@page
@model IndexModel
@{
    ViewData["Title"] = "Velkommen";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p class="lead">Velkommen til min Azure Web App!</p>
    <hr class="my-4">
    <p>Dette er din hovedside.</p>
</div>
